packages:
  yum:
    newrelic-sysmond: []
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm
commands:
  "01":
    command: "nrsysmond-config --set license_key=f0bf3ebd256496af2210bc44532e070818635bfb"
  "02":
    test : "[[ ! $(grep -F 'hostname={{NEW_RELIC_APP_NAME}}' /etc/newrelic/nrsysmond.cfg) ]]"
    command: "echo 'hostname={{NEW_RELIC_APP_NAME}}' >> /etc/newrelic/nrsysmond.cfg"
  "03":
    command: "usermod -a -G docker newrelic && /etc/init.d/newrelic-sysmond restart"
