@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/material-icons-regular.eot);
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(./assets/fonts/material-icons-regular.woff2) format('woff2'),
  url(./assets/fonts/material-icons-regular.woff) format('woff'),
  url(./assets/fonts/material-icons-regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  vertical-align: middle;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}
